

.main-pic{
	position: relative;
		top: 70px;
		left: 250px;
		height: 500px;
	width: 800px;
	
}

.box{
	position: absolute;
		top: 50px;
		left: 270px;
         height: 120px;
         width: 120px;

}

.container {
    width: 200px;
    height: 200px;
    margin: 100px;
    border: solid 1px;
    transform: rotate(45deg);
    transition: transform 2s;
}


.container:hover {
    transform:  rotateY(180deg) rotate(45deg); /* notice the order */
}
.inner {
    margin: 50px;
    transform: rotate(-45deg);
}
